.site-body {
    line-height: 1.1;
    padding: 10px;
    color: #e7f4f4;
}

.site-body h1{
    width: 250px;
    position: relative;
    padding-left: 25px;
    color: #e7f4f4;
  }

  .site-body h1::before {
    content: "";
    position: absolute;
    display: block;
    width: 80%;
    height: 2px;
    bottom: -5px;
    left: 15px;
    background-color: #e7f4f4;
  }

